ul{
    padding: 0;
}

.site-footer{
    padding-top: 0;
}

.footer-section{
    background-color: #1e2828;
}

.row {
    display: flex;
}

.row-child{
    padding: 40px;
}

.left-title h4, .right-title h4{
    color: white;
}