/* line 3, app/scss/_header.scss */
.gs-section-header {
    padding: 56px 16px;
    box-sizing: content-box;
    margin: 0 auto;
    height: auto;
}

.gs-snake-module > .gs-section-header {
    padding-bottom: 0;
}

@media (min-width: 768px) {
    /* line 3, app/scss/_header.scss */
    .gs-section-header {
        padding: 72px 0 128px;
    }
}

@media (min-width: 992px) {
    /* line 3, app/scss/_header.scss */
    .gs-section-header {
        padding: 96px 0 72px;
    }
}

/* line 14, app/scss/_header.scss */
.gs-section-header--center {
    text-align: center;
}

@media (min-width: 768px) {
    /* line 17, app/scss/_header.scss */
    .gs-section-header--center p {
        max-width: 500px;
        margin: 0 auto;
    }
    .basis-grotesque .gs-section-header--center p {
        font-size: 20px;
        line-height: 30px;
    }

}

@media (min-width: 992px) {
    /* line 17, app/scss/_header.scss */
    .gs-section-header--center p {
        max-width: 600px;
    }
}

/* line 29, app/scss/_header.scss */
.gs-section-header--grey {
    background: #f7f7f7;
}
/* line 33, app/scss/_header.scss */
.gs-section-header--top, .gs-section-header--mid {
    font-family: 'Basis Grotesque', Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 30px;
    color: #241d1d;
    font-size: 30px;
    line-height: 36px;
}

@media (min-width: 768px) {
    /* line 33, app/scss/_header.scss */
    .gs-section-header--top, .gs-section-header--mid {
        font-size: 36px;
        line-height: 44px;
    }
}

/* line 39, app/scss/_header.scss */
.gs-section-header--top {
    padding: 56px 0;
}

@media (min-width: 768px) {
    /* line 39, app/scss/_header.scss */
    .gs-section-header--top {
        padding: 58px 0 55px;
    }
}

@media (min-width: 992px) {
    /* line 39, app/scss/_header.scss */
    .gs-section-header--top {
        padding: 67px 0 56px;
    }
}
/* line 49, app/scss/_header.scss */
.gs-section-header--mid {
    padding: 56px 0 66px;
}

@media (min-width: 768px) {
    /* line 49, app/scss/_header.scss */
    .gs-section-header--mid {
        padding: 72px 0 56px;
    }
}

@media (min-width: 992px) {
    /* line 49, app/scss/_header.scss */
    .gs-section-header--mid {
        padding: 96px 0 56px;
    }
}
.gs-section-header h2 {
    font-family: 'Basis Grotesque', Arial, Helvetica, sans-serif;
    letter-spacing: -1px;
    font-size: 32px;
    line-height: 34px;
    font-weight: 400;
}

@media (min-width: 768px) {
    .gs-section-header h2 {
        font-size: 48px;
        line-height: 52px;
    }
}

@media (min-width: 992px) {
    /* line 59, app/scss/_header.scss */
    .gs-section-header h2 {
        font-size: 48px;
        line-height: 58px;
    }
}

/* line 63, app/scss/_header.scss */
.gs-section-header h4 {
    font-size: 24px;
    line-height: 30px;
    color: #241d1d;
}

@media (min-width: 768px) {
    /* line 63, app/scss/_header.scss */
    .gs-section-header h4 {
        font-size: 30px;
        line-height: 36px;
    }
}

/* line 67, app/scss/_header.scss */
.gs-section-header h6 {
    font-family: 'GoldmanSans';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #241d1d;
}

@media (min-width: 768px) {
    /* line 67, app/scss/_header.scss */
    .gs-section-header h6 {
        font-size: 20px;
        line-height: 24px;
    }
}

@media (min-width: 992px) {
    /* line 67, app/scss/_header.scss */
    .gs-section-header h6 {
        font-size: 24px;
        line-height: 30px;
    }
}

/* line 71, app/scss/_header.scss */

.gs-section-header p {
    font-family: 'GoldmanSans';
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #434343;
    padding-top: 16px;
}

.basis-grotesque .gs-section-header p {
    font-family: 'Basis Grotesque', Arial, Helvetica, sans-serif;
}

    /* line 76, app/scss/_header.scss */
.gs-section-header__btn {
    padding-top: 16px;
}

@media (min-width: 992px) {
    /* line 76, app/scss/_header.scss */
    .gs-section-header__btn {
        padding-top: 24px;
    }
}

/* line 83, app/scss/_header.scss */
.gs-section-header__btn a {
    font-family: 'GoldmanSans';
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #3173b5;
    cursor: pointer;
}

.basis-grotesque .gs-section-header__btn a {
    font-family: 'Basis Grotesque', Arial, Helvetica, sans-serif;
}

/* line 149, app/scss/_mixins.scss */
.gs-section-header__btn a:hover {
    text-decoration: underline;
}

/* line 87, app/scss/_header.scss */
.gs-section-header__btn-2-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 992px) {
    /* line 87, app/scss/_header.scss */
    .gs-section-header__btn-2-col {
        display: block;
    }
}

/* line 98, app/scss/_header.scss */
.gs-section-header__btn-2-col a {
    line-height: 1.6;
    margin-bottom: 8px;
}

@media (min-width: 992px) {
    /* line 98, app/scss/_header.scss */
    .gs-section-header__btn-2-col a {
        line-height: 1;
    }
    /* line 103, app/scss/_header.scss */
    .gs-section-header__btn-2-col a:last-child {
        border-left: 1px solid #e1e1e1;
        margin-left: 12px;
        padding-left: 12px;
    }
}