.large-text-block h2 {
    margin: 0 0 1.125rem 0;
    color: #171717;
    font-family: 'Basis Grotesque', Arial, Helvetica, sans-serif;
    font-size: 1.75rem;
    line-height: 2rem;
    font-weight: 100;
    letter-spacing: -.03rem;
}
@media all and (min-width: 768px) {
    .large-text-block h2 {
        font-size: 2.6875rem;
        line-height: 3.25rem;
    }
}
@media all and (min-width: 768px) {
    .large-text-block h2 {
        letter-spacing: -.08rem;
    }
}
.large-text-block p {
    font-family: 'Basis Grotesque', Arial, Helvetica, sans-serif;
    line-height: 1.3125rem;
    color: #434343;
    font-size: .875rem;
    font-size: .875rem;
    line-height: 1.3125rem;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.basis-grotesque .large-text-block p {
    font-family: 'Basis Grotesque Bold', Arial, Helvetica, sans-serif;
}

.basis-grotesque .large-text-block p a {
    text-decoration: none;
}

.basis-grotesque .large-text-block p a:hover {
    text-decoration: underline !important;
}

.gs-sans .large-text-block p {
    font-family: "GoldmanSans", Arial, Helvetica, sans-serif;
    font-weight: 400;
}
@media all and (min-width: 768px) {
    .large-text-block p {
        font-size: 1.125rem;
        line-height: 1.625rem;
    }
}
@media all and (min-width: 992px) {
    .large-text-block p {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }
}
@media all and (min-width: 768px) {
    .large-text-block p {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }
}
.large-text-block .large-text-block__top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    height: 100%;
    padding: 40px 0 0 0;
}
@media all and (min-width: 768px) {
    .large-text-block .large-text-block__top {
        padding: 3.75rem 0 40px 0;
    }
}
.large-text-block .large-text-block__top,
.large-text-block .large-text-block__top.white,
.white .large-text-block .large-text-block__top {
    background: #FFFFFF;
}
.large-text-block .large-text-block__top .large-text-block__top__title,
.large-text-block .large-text-block__top.white .large-text-block__top__title,
.white .large-text-block .large-text-block__top .large-text-block__top__title {
    color: #171717;
}
.large-text-block .large-text-block__top .large-text-block__top__copy,
.large-text-block .large-text-block__top.white .large-text-block__top__copy,
.white .large-text-block .large-text-block__top .large-text-block__top__copy {
    color: #434343;
}
.large-text-block .large-text-block__top.grey,
.grey .large-text-block .large-text-block__top {
    background: #F1F1F1;
}
.large-text-block .large-text-block__top.grey .large-text-block__top__title,
.grey .large-text-block .large-text-block__top .large-text-block__top__title {
    color: #171717;
}
.large-text-block .large-text-block__top.grey .large-text-block__top__copy,
.grey .large-text-block .large-text-block__top .large-text-block__top__copy {
    color: #434343;
}

.large-text-block .large-text-block__top__content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    text-align: center;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
            align-self: flex-end;
}
.large-text-block .large-text-block__top__content:after {
    content: ' ';
    display: block;
    clear: both;
}
@media all and (min-width: 768px) {
    .large-text-block .large-text-block__top__content {
        padding-bottom: 5.625rem;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
                align-self: center;
        padding-bottom: 0;
        padding-top: 0;
    }
}

.large-text-block .large-text-block__top__title {
    margin-bottom: 1.25rem;
    color: #FFFFFF;
    padding: 0 20px;
}

.large-text-block .large-text-block__top__copy {
    width: 81%;
    margin: 0 auto;
    color: #171717;
    text-align: center;
}
@media all and (min-width: 992px) {
    .large-text-block .large-text-block__top__copy {
        width: 50rem;
    }
    .large-text-block .large-text-block__top__copy.two-col {
        text-align: left;
        width: 90%;
        -webkit-column-count: 2;
                column-count: 2;
    }
}

.large-text-block .large-text-block__body {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: .625rem;
    padding-right: .625rem;
}
.large-text-block .large-text-block__body:after {
    content: ' ';
    display: block;
    clear: both;
}
@media all and (min-width: 992px) {
    .large-text-block .large-text-block__body {
        padding-left: 1.875rem;
        padding-right: 1.875rem;
    }
}
@media all and (min-width: 992px) and (max-width: 1200px) {
    .large-text-block .large-text-block__body {
        padding-left: 3.75rem;
        padding-right: 3.75rem;
    }
}

.large-text-block .large-text-block__body__content {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    background-color: #FFFFFF;
    margin-top: -3.125rem;
    min-height: 6.25rem;
}
@media all and (min-width: 768px) {
    .large-text-block .large-text-block__body__content {
        width: 83.05085%;
        float: left;
        margin-left: 8.47458%;
        margin-right: -100%;
    }
}

.large-text-block .large-text-block__top__ctas {
    padding-top: 1.75rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
}
.large-text-block .large-text-block__top__ctas .cta {
    color: #316BB6;
    text-transform: uppercase;
    letter-spacing: .125rem;
    font-family: 'UniversLTW01-65Bold', sans-serif;
    font-size: .625rem;
    -webkit-transition: color .5s, background .5s, border-color .5s;
            transition: color .5s, background .5s, border-color .5s;
    text-decoration: none;
    border: solid 1px #B9B9B9;
    margin: 15px auto 0 auto;
    padding: 15px 30px;
    width: 81%;
}
.gs-sans .large-text-block .large-text-block__top__ctas .cta {
    font-family: "GoldmanSans", Arial, Helvetica, sans-serif;
    font-weight: 700;
}

@media all and (min-width: 768px) {
    .large-text-block .large-text-block__top__ctas .cta {
        font-size: .6875rem;
    }
}
@media (any-hover: none) {
    .large-text-block .large-text-block__top__ctas .cta {
        color: #316BB6;
    }
}
.large-text-block .large-text-block__top__ctas .cta:hover {
    color: #005080;
}
@media all and (min-width: 768px) {
    .large-text-block .large-text-block__top__ctas .cta {
        padding: 10px 30px;
        width: auto;
    }
}
.large-text-block .large-text-block__top__ctas .cta:active {
    background: #316BB6;
    border: solid 1px #316BB6;
    color: #FFFFFF;
}
@media all and (min-width: 768px) {
    .large-text-block .large-text-block__top__ctas .cta {
        margin-right: .625rem;
        margin-left: .625rem;
    }
    .large-text-block .large-text-block__top__ctas .cta:first-of-type {
        margin-left: 0;
    }
    .large-text-block .large-text-block__top__ctas .cta:last-of-type {
        margin-right: 0;
    }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .large-text-block .large-text-block__top .large-text-block__top__content {
        padding-bottom: 0;
        position: absolute;
        bottom: 2.5rem;
    }
}

@media all and (-ms-high-contrast: none) and (min-width: 768px), all and (-ms-high-contrast: active) and (min-width: 768px) {
    .large-text-block .large-text-block__top {
        display: block;
    }
    .large-text-block .large-text-block__top .large-text-block__top__content {
        position: relative;
        margin-bottom: -45px;
    }

}

.no-touch .large-text-block__top__ctas .cta:hover {
    background: #316BB6;
    border: solid 1px #316BB6;
    color: #FFFFFF;
}
.large-text-block.no-padding .large-text-block__top {
    padding-bottom: 0;
}
.large-text-block.no-padding .large-text-block__top__content {
    padding-top: 0;
    padding-bottom: 0;
}